.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
}
.logo-link {
  display: flex;
  align-items: center;
  color: var(--main-white);
  font-family: 'Inter';
  font-style: normal;
  font-size: 24px;
  line-height: 1.2;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.list-link {
  color: var(--main-white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  display: block;
  padding-top: 35px;
  padding-bottom: 35px;
}
.header-btn {
  color: var(--main-white);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  border-radius: 5px;
  border: none;
  padding: 10px 18px;
}
